.bold {
  font-weight: bold;
  margin: 0 4px;
}

.pagination-button {
  padding: 6px 12px;
  border: 1px solid #000;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  margin: 0 4px;
}

.pagination-button-active {
  background: #4f63da;
  color: white;
  border: #4f63da;
}

.pagination-button-disabled {
  color: gray;
  border-color: lightgray;
  cursor: not-allowed;
}

#table > div.p-paginator {
  margin: 1.5rem 0;
}

/* This CSS rule is for making the down arrow be positioned to the right of the checkbox */
.p-datatable .p-selection-column .p-column-header-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}