.bold {
  font-weight: bold;
  margin: 0 4px;
}

.pagination-button {
  padding: 6px 12px;
  border: 1px solid #000;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  margin: 0 4px;
}

.pagination-button-active {
  background: #4f63da;
  cursor: none;
}

.pagination-button-disabled {
  color: #878787;
  border-color: #878787;
  cursor: not-allowed;
}
