.bold {
  font-weight: bold;
  margin: 0 4px;
}

.pagination-button {
  padding: 6px 12px;
  border: 1px solid #000;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  margin: 0 4px;
}

.pagination-button-active {
  background: #4f63da;
  color: white;
  border: #4f63da;
  cursor: none;
}

.pagination-button-disabled {
  color: gray;
  border-color: lightgray;
  cursor: not-allowed;
}
